<!doctype html>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>HTML Fragment Example</title>
<script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>

<h1><a href="/">Armature HTML Fragment Example</a></h1>


